extends layout 

block page_title 
  title これはページのタイトルです
block greeting
  h1 こんにちは世界
block software_engineer
  p 私はもうすぐソフトウェアエンジニアになるつもりです
  img(src="/images/earth.jpg"
      alt="The Earth"
      title="The Earth")